.container{
  width: 70%;
  margin: 1rem auto;
}

table {
    width: 100%;
  }
  mat-spinner{
    margin: auto;
  }

  /* mat-paginator{
    margin-top: 1rem;
  } */
  
  .reg-image{
    height: 3rem;
    margin: 1rem 0;
  }
  
  .reg-image img{
    height: 100%;
  }
  