.container{
    width: 70%;
    margin: 1rem auto;
}
mat-form-field, input {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.filepicker{
    margin-bottom:10px;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img{
    height: 100%;
}
